<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <meta charset="UTF-8" />
  <meta name="viewport" content ="width=device-width, minimum-scale=1.0, initial-scale=1.0">

  <title>The Flatiron School</title>

  <link rel='stylesheet' href="css/style.css" type='text/css' media='all' />
  <!-- <link rel='stylesheet' href="css/style-dark.css" type='text/css' media='all' /> -->
  <link rel='stylesheet' href="css/media-queries.css" type='text/css' media='all' />
  <link rel='stylesheet' href="css/flexslider.css" type='text/css' media='screen' />
  <link rel='stylesheet' href="css/font-awesome.css" type='text/css' media='screen' />
  <link rel='stylesheet' id='google_merriweather-css'  href='http://fonts.googleapis.com/css?family=Merriweather:400,700&ver=3.5' type='text/css' media='all' />
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
  <script type='text/javascript' src="js/comment-reply.min.js"></script>
  <script type='text/javascript' src="js/jquery.js"></script>
  <script type='text/javascript' src="js/chirp.min.js"></script>
  <style type="text/css">a{color:#60BDDB}</style>
  </head>
  <body>
    <!-- Begin Title Content -->
      <div class="page-title">
        <h2>Every Story Has Heroes</h2>
        <h3>We're 32 people on a journey to learn to love code.</h3>
      </div>
      <!-- End Title Content -->

    <%= yield %>

    <!-- Begin Footer -->
  <div class="footer">
    <div class="footer-text">
      <div class="footer-text-right">
        <div class="copyright">&copy; 2013. The Flatiron School.  All Your Rights Are Belong To Us.</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End Footer -->

  <script type='text/javascript'>var custom_js_vars={"flexslider_auto":"enabled"};</script>
  <script type='text/javascript' src="js/custom.js"></script>
  <script type='text/javascript' src="js/jquery.flexslider.js"></script>
  <script type='text/javascript' src="js/jquery.tabs.min.js"></script>
  <script type='text/javascript' src="js/jquery.fitvids.js"></script>
  <script type='text/javascript' src="js/jquery.mobilemenu.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33578770-1']);
    _gaq.push(['_setDomainName', 'flatironschool.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>