
    <ul>
    <% @students.each do |student| %>
      <li class="home-blog-post">
                <div class="blog-thumb">
                  <img width="360" height="140" src="/img/DR_image.jpg" class="attachment-blog-thumb wp-post-image" alt="">
                </div>

                <div class="blog-title">
                  <div class="big-comment"><h3><a href="Students/jaltman.html"><%= student.name%>
                 </a></h3></div>
                  <p class="home-blog-post-meta"><%= student.tagline %></p>
                </div>
                <div class="clear"></div>

                <div class="excerpt">
                  <p><%= student.bio %></p>
                </div>
                <div class="clear"></div>
              </li>
    <% end %>
  </ul>
